<div class="container">
  <div class="page-header">
    <h1>About</h1>
  </div>
  <h3>Terms of Service</h3>
  <p>By using the pool you accept all possible risks related to experimental software usage.<br/>
     Pool owner can't compensate any irreversible losses, but will do his best to prevent worst case.
  </p>
  <h3>General Info</h3>
  <p>
    <ul>
		<li>Please only download <a href="https://github.com/Ether1Project/Ether1DesktopWallet/releases" rel="nofollow" target="_blank">
         Official wallets</a> for ether-1 ($ETHO) from official sources</li>
      <li>Link to <a href="https://ether1.org" rel="nofollow" target="_blank">
         ether-1 Official web</a> page</li>
		<li>Check out ether-1's <a href="https://ethofs.com/" rel="nofollow" target="_blank">
         ethoFS</a>.</li>
      <li>Join ether-1's Official <a href="https://discord.gg/JmEX4XT" rel="nofollow" target="_blank">
         Discord</a>.</li>
      <li>Buy/sell ether-1 ($ETHO) from my favorite exchange <a href="https://app.stex.com?ref=28120163" rel="nofollow" target="_blank">
         STEX</a> or <a href="https://asymetrex.com?ref=412" rel="nofollow" target="_blank">
         AsymetrEX</a>.</li>
      <li>Rent hash power from <a href="https://www.miningrigrentals.com/?ref=2593799" rel="nofollow" target="_blank">
         MiningRigRentals</a>.</li>
    </ul>
  </p>
</div>
