<div class="container">
  <div class="page-header">
    <h1>How To Mine</h1>
  </div>

  <span class="label label-success">Windows</span>
  <p class="lead">Grab a copy of <a href="https://github.com/todxx/teamredminer/releases" re="nofollow"
      target="_blank">TeamRedMiner</a>.</p>
  <h4 class="note note-info text-center">teamredminer.exe -a ethash -o stratum+tcp://ethodream.exlo.tech:8002 -u
    0x5af998f979342d506886e87b9787a80fbbf88706 -p x</h4>

  <span class="label label-success">Windows</span>
  <p class="lead">Grab a copy of <a href="https://github.com/Lolliedieb/lolMiner-releases/releases/tag/1.24"
      re="nofollow" target="_blank">lolminer</a></p>
  <h4 class="note note-info text-center">lolMiner.exe --algo ETHASH --pool stratum+tcp://ethodream.exlo.tech:8002 --user
    0x5af998f979342d506886e87b9787a80fbbf88706.Rig001 --ethstratum ETHPROXY</h4>

  <h4>Terms of Service</h4>
  <p>By using the pool you accept all possible risks related to experimental software usage.<br />
  </p>
</div>
